<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\bin\Debug\netcoreapp3.1\FastDev.RunWeb.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
    </system.webServer>
  </location>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="万江框架">
                    <match url="framework.*" />
                    <conditions>
                        <add input="{URL}" pattern="/(framework.*)" />
                    </conditions>
                    <action type="Rewrite" url="http://182.150.28.58:27016/{C:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
<!--ProjectGuid: c6749841-d8a6-4cf5-92d5-a4d8c659becf-->