<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Language" content="zh-CN" /> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" /> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>  
    <script src="~/config.js"></script> 
    @RenderSection("header", required: true)
</head>
<body>
    @RenderBody() 
</body>
</html>
