@{ 
    Layout = null;
}

<html> 
<head>
    <title></title>
    <link href="~/Contents/application/print.css" rel="stylesheet" />
     <style type="text/css">
             @Html.Raw(ViewBag.Style)
     </style>

</head>
<body>
<div style="height:500px;">
    @Html.Raw(ViewBag.Content)  
</div>
</body>  
</html>