
<html> 
<head>
    <title></title>
    <script src="../../Scripts/jquery/jquery-1.7.1.min.js"></script>
   <style type="text/css">
       
    </style>
     <style type="text/css">
            
     </style>

</head>
<body>
<div > 
</div> 
<div id="maincontent">
   
</div> 
</body> 
    <script>
        var let = new Array('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'g', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z');


        for (var j = 0; j < let.length; j++)
        {
           // $("#maincontent").append( let[j] + "jxc<br>");
        }

        for (var i = 0; i < let.length; i++)
        {
            if (let[i] != "x") continue;
            for (var j = 0; j < let.length; j++)
            {
                $("#maincontent").append( let[i] + let[j] + "erp<br>");
            }
        }
        

    </script>
</html>